<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-7 py-1 ">
        <!-- <h1 class="header-text">DRINK, PREDICT AND WIN ...</h1> -->
      </div>
    </div>
  </div>
</header>
<section class="sec-padding">
  <div class="container">
    <h2 class="heading-text">{{ "app.resetPassword" | translate }}</h2>
  </div>
  <div class="container py-5">
    <form #f="ngForm">
      <div *ngIf="commonService.error" class="invalidFeedback mb-3">
        <i class="fas fa-exclamation-circle"></i> {{ commonService.message }}
      </div>
      <div class="form-row">
        <div class="form-group col-8">
          <label for="pw">{{ "app.newPassword" | translate }}</label>
          <input
            type="password"
            class="form-control"
            id="pw"
            placeholder=""
            name="password"
            required
            (change)="checkPassword(confirmPassword.value, password.value)"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
            ngModel
            #password="ngModel"
          />
          <div class="invalidFeedback">
            {{ "app.passwordErrorMsg" | translate }}
          </div>
        </div>
        <div class="form-group col-8">
          <label for="cPw"> {{ "app.confirmNewPassword" | translate }}</label>
          <input
            type="password"
            class="form-control"
            id="cPw"
            placeholder=""
            ngModel
            name="confirmPassword"
            #confirmPassword="ngModel"
            required
            (change)="checkPassword(confirmPassword.value, password.value)"
          />
          <div
            *ngIf="f.controls['confirmPassword'].touched && notMatch"
            class="invalidFeedback"
          >
            {{ "app.passwordMismatch" | translate }}
          </div>
        </div>
      </div>
      <div class="form-group my-4">
        <button
          type="button"
          class="btn btn-primary btn-block"
          (click)="changePassword(password.value)"
          [disabled]="f.invalid || notMatch"
        >
          {{ "app.resetPassword" | translate }}
        </button>
      </div>
    </form>
  </div>
</section>
