// @import '../../scss/frameworks/index';
@import "../../scss/frameworks/index";
// @import "../../scss/base/fonts";
@import '../../scss/base/index';

p{
  margin-bottom: 0;
}
.ranking-card{
    background-color: #fff;
  border: 1px solid rgba(167, 164, 164, 0);
  box-shadow: 0 4px 8px 0 rgba(85, 68, 68, 0.2);
  @include ltr(font-family, $font-family-bold);
  @include rtl(font-family, $font-family-arabic-bold);

  margin-bottom: 1rem;
  border-radius: 2rem;
  overflow: hidden;

}
.card-header {
    color: #fff;
    background: $primary;
    text-transform: capitalize;
    padding: 1.5rem 2.6rem;
    background-origin:padding-box;
    display: flex;
    justify-content: space-between;
}
.list-group-flush{
    .ranking-list-item{
      display: flex;
      align-items: center;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    //   @include media-breakpoint-down(xs) {
    //   padding: 1.5rem .3rem ;
    //   flex-wrap: wrap;
    //   }
    }
  }
  .list-item-img{
    width: 40px;
    height: auto;
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .flex-60{
      flex-basis: 60%;
  }