<!-- BODY -->
<section class="sec-padding">
  <div class="container">
    <h2 class="heading-text">{{"app.AboutGame" | translate}}</h2>
  </div>
  <div class="container py-5">
    <div class="row">
      <div class="col-12">

        <section >
          <h2 class="sub-heading">
              {{"app.predictAndWin" | translate}}
          </h2>
          <p class="mb-3">
            {{"app.aboutGameDescription" | translate}}
          </p>
          <p class="mb-3">
              {{"app.predictAndWinDescription" | translate}}
          </p>

          <p class="mb-3">
            {{"app.predictAndWinDescription2" | translate}}
          </p>
          <p class="mb-3">
            {{"app.predictAndWinDescription3" | translate}}
          </p>

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">{{"app.level1" | translate}}</th>
              <th scope="col">{{"app.level2" | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{"app.ManchesterCity" | translate }}</td>
              <td>{{"app.Wolves" | translate }}</td>
            </tr>
            <tr>
              <td>{{"app.Liverpool" | translate }}</td>
              <td>{{"app.LeicesterCity" | translate }}</td>
            </tr>
            <tr>
              <td>{{"app.Tottenham" | translate }}</td>
              <td>{{"app.Everton" | translate }}</td>
            </tr>
            <tr>
              <td>{{"app.Chelsea" | translate }}</td>
              <td>{{"app.WestHam" | translate }}</td>
            </tr>
            <tr>
              <td>{{"app.Arsenal" | translate }}</td>
              <td>{{"app.Southampton" | translate }}</td>
            </tr>
            <tr>
              <td>{{"app.ManchesterUnited" | translate }}</td>
              <td>{{"app.CrystalPalace" | translate }}</td>
            </tr>
            <tr>
              <td></td>
              <td>{{"app.Burnley" | translate }}</td>
            </tr>
            <tr>
              <td></td>
              <td>{{"app.Bournemouth" | translate }}</td>
            </tr>
            <tr>
              <td></td>
              <td>{{"app.AstonVilla" | translate }}</td>
            </tr>
            <tr>
              <td></td>
              <td>{{"app.Newcastle" | translate }}</td>
            </tr>
            <tr>
              <td></td>
              <td>{{"app.Norwich" | translate }}</td>
            </tr>
            <tr>
              <td></td>
              <td>{{"app.Brighton" | translate }}</td>
            </tr>
            <tr>
              <td></td>
              <td>{{"app.Watford" | translate }}</td>
            </tr>
            <tr>
              <td></td>
              <td>{{"app.SheffieldUnited" | translate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="mb-4">
        {{"app.AccordingToResults" | translate}}
      </p>
      <p class="mb-3 text-primary">
        {{"app.MatchResults1" | translate}}
      </p>
      <div class="card ranking-card mb-5">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item ranking-list-item justify-content-between">
                <!-- flex-60 -->
              <p class="">{{"app.guessingInitialScore" | translate}}
              </p>
              <!-- <div class="d-flex align-items-center ml-auto">
                <p class="text-primary">5 {{"app.coins" | translate}}</p>
                <img
                  src="../../assets/images/Coins.png"
                  class="list-item-img"
                />
              </div> -->
              <img *ngIf="false"
                  src="../../assets/images/Pts.png"
                  class="list-item-img"
                />
            </li>
            <li class="list-group-item ranking-list-item justify-content-between">
              <p class="">{{"app.guessingInitialScore2" | translate}}
              </p>
              <img *ngIf="false"
              src="../../assets/images/Pts.png"
              class="list-item-img"
            />
            </li>
            <li class="list-group-item ranking-list-item justify-content-between">
                <p class="">{{"app.guessingInitialScore3" | translate}}
                  </p>  <img *ngIf="false"
                  src="../../assets/images/Pts.png"
                  class="list-item-img"
                />
            </li>
            <li class="list-group-item ranking-list-item justify-content-between">
                <p class="">{{"app.guessingInitialScore4" | translate}}
                  </p>  <img *ngIf="false"
                  src="../../assets/images/Pts.png"
                  class="list-item-img"
                />
            </li>
          </ul>
        </div>
      </div>
      <p class="mb-3 text-primary">
          {{"app.MatchResults2" | translate}}
        </p>
        <div class="card ranking-card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item ranking-list-item justify-content-between">
                  <!-- flex-60 -->
                <p class="">{{"app.guessingInitialScore5" | translate}}
                </p>
                <!-- <div class="d-flex align-items-center ml-auto">
                  <p class="text-primary">5 {{"app.coins" | translate}}</p>
                  <img
                    src="../../assets/images/Coins.png"
                    class="list-item-img"
                  />
                </div> -->
                <img *ngIf="false"
                    src="../../assets/images/Pts.png"
                    class="list-item-img"
                  />
              </li>
              <li class="list-group-item ranking-list-item justify-content-between">
                <p class="">{{"app.guessingInitialScore6" | translate}}
                </p>
                <img *ngIf="false"
                src="../../assets/images/Pts.png"
                class="list-item-img"
              />
              </li>
              <li class="list-group-item ranking-list-item justify-content-between">
                  <p class="">{{"app.guessingInitialScore7" | translate}}
                    </p>  <img *ngIf="false"
                    src="../../assets/images/Pts.png"
                    class="list-item-img"
                  />
              </li>
              <li class="list-group-item ranking-list-item justify-content-between">
                  <p class="">{{"app.guessingInitialScore8" | translate}}
                    </p>  <img *ngIf="false"
                    src="../../assets/images/Pts.png"
                    class="list-item-img"
                  />
              </li>
              <li class="list-group-item ranking-list-item justify-content-between">
                  <p class="">{{"app.guessingInitialScore9" | translate}}
                    </p>  <img *ngIf="false"
                    src="../../assets/images/Pts.png"
                    class="list-item-img"
                  />
              </li>
              <li class="list-group-item ranking-list-item justify-content-between">
                  <p class="">{{"app.guessingInitialScore10" | translate}}
                    </p>  <img *ngIf="false"
                    src="../../assets/images/Pts.png"
                    class="list-item-img"
                  />
              </li>
            </ul>
          </div>
        </div>
        </section>
        <section class="mb-3">
          <h2 class="sub-heading">{{"app.drinkAndWin" | translate}}</h2>
          <p class="mb-3">
           {{"app.drinkAndWinDesc" | translate}}
          </p>
          <!-- <div class="card ranking-card">
            <div
              class="card-header"
            >
              <p> {{"app.Coke" | translate}}</p>
              <p>{{"app.earnedCoins" | translate}}</p>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item ranking-list-item">
                  <p class="flex-60">330ml</p>
                  <div class="d-flex align-items-center ml-auto">
                    <p>5 {{"app.coins" | translate}}</p>
                    <img
                      src="../../assets/images/Coins.png"
                      class="list-item-img"
                    />
                  </div>
                </li>
                <li class="list-group-item ranking-list-item">
                  <p class="flex-60">330ml</p>
                  <div class="d-flex align-items-center ml-auto">
                    <p>5 Coins</p>
                    <img
                      src="../../assets/images/Coins.png"
                      class="list-item-img"
                    />
                  </div>
                </li>
                <li class="list-group-item ranking-list-item">
                  <p class="flex-60">330ml</p>
                  <div class="d-flex align-items-center ml-auto">
                    <p>5 {{"app.coins" | translate}}</p>
                    <img
                      src="../../assets/images/Coins.png"
                      class="list-item-img"
                    />
                  </div>
                </li>
              </ul>
            </div>
          </div> -->
        </section>
      </div>
    </div>
  </div>
</section>
