.or {
  width: 80%;
  margin: auto;
  position: relative;
  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;}
  span {
    position: absolute;
    // top: -15px;
    top: -1.2rem;
    left: 45%;
    background: #fff;
    padding: 0.5rem;
  }
}
