<section class="sec-padding">
  <div class="container">
    <h2 class="heading-text">{{ "app.TermsConditions" | translate }}</h2>
  </div>
  <div class="container py-5">
    <div class="row">
      <div class="col-12">
        <section>
          <ol type="1">
            <li>
              يجب علي المشترك عند استلامه للجائزة أن يقوم بتقديم أصل بطاقة الرقم
              القومي أو بطاقة اثبات الشخصية للاطلاع عليه من قبل الشركة مع حقها
              في الاحتفاظ بصورة من بطاقة اثبات شخصيته، وإلا فلن يتمكن من الحصول
              علي الجائزة، كما أنه يتعين على المشترك الفائز أن يقوم بالتوقيع علي
              استمارة استلام الجائزة.
            </li>
            <li>بطاقة الرقم القومي يجب أن تكون سارية.</li>
            <li>
              يجب ان يبلغ الفائز من العمر 18 سنة على الأقل.
            </li>
            <li>
              تحتفظ شركة كوكاكولا بالحق في تغيير أي من الشروط والأحكام الواردة
              هنا في أي وقت دون سابق إنذار، عن طريق تحديث بيانات الشروط
              والأحكام.
            </li>
            <li>
              في حين ثبوت تقديم أي بيانات أو معلومات غير صحيحة، فان كوكاكولا
              تحتفظ بكامل الحق في استبعاده من قائمة الفائزين و حجب الجائزة عنه.
            </li>
            <li>
              لا يجوز للفائز الرجوع بأي حقوق أو مطالبات مالية أو دعاوي تتعلق
              بنشر صور أو فيديو أو أسم العميل الفائز.
            </li>
            <li>
              يحق لكوكاكولا ان تطلب من الفائزين الظهور في وسائل الإعلام التي
              تحددها الشركة للإعلان عن المسابقة.
            </li>
            <li>
              شركة كوكاكولا لها الحق في إلغاء او وقف أو مدّ أو تعديل المسابقة
              وهذه الشروط و الأحكام دون إخطار مسبق لا يحق لأي عميل الرجوع على
              شركة كوكاكولا أو رفع أي دعاوى قضائية ضد الشركة والمطالبة بأي
              تعويضات نتيجة ذلك التعديل او الالغاء.
            </li>
            <li>
              حق كل متسابق الفوز مرة واحدة فقط.
            </li>
            <li>
              الجائزة المقدمة من شركة كوكاكولا هي رحله لفرد للتفرج على مباراه في
              الدوري الإنجليزي بتجميع نقاطها مع شعار كوكاكولا.
            </li>
            <li>
              عدد الرحلات محدد لكل مباراه.
            </li>
            <li>
              الجوائز الممنوحة من كوكاكولا لا يجوز بيعها أو التنازل عنها لشخص
              اخر أو هبتها او استبدالها نقديا.
            </li>
            <li>
              سوف يمتنع علي جميع موظفي شركة كوكاكولا وأقاربهم حتى الدرجة الثانية
              أن يشتركوا (بشكل مباشر أو غير مباشر) في المسابقة أو أن يفوز أي
              منهم بأي من جوائزها.
            </li>
            <li>
              لا تتحمل كوكاكولا آية مسؤولية عن أي ضرر أو خسارة أو إصابة يتعرض
              لها أي عميل يدخل المسابقة أو تنتج عن قبول الجائزة سواء للفائز
              بالجائزة او المصاحب له .
            </li>
            <li>
              كوكاكولا لا تتحمل أي مسئولية عن رفض الفيزا لأي من الفائزين
            </li>
          </ol>
          <!-- <p class="p-5">
            الأسم:<br />
            التوقيع:
          </p> -->
        </section>
      </div>
    </div>
  </div>
</section>
