<section class="sec-padding">
  <div class="container">
    <h2 class="heading-text">{{
        "app.PrivacyPolicy" | translate
      }}</h2>
  </div>
  <div class="container py-5">
    <div class="row">
      <div class="col-12">
        <section>
          <p class="mb-3 sub-heading">
            السادة شركة تصنيع و تعبئة كوكاكولا مصر
            <br />
            مدينة نصر - القاهرة <br />
            جمهورية مصر العربية <br />
            تحية طيبة و بعد... <br />
          </p>
          <p class="mb-3">
            بالإشارة إلي الجائزة التي حصلت عليها من شركتكم بتاريخ --------
            والخاصة بفوزي (بجائزة ) رحلة للتفرج على مباراه في الدوري الإنجليزي
          </p>
          <p class="mb-3">
            اقر أنا---------------------- مصري الجنسية، والمقيم في شارع
            ----------------------------------------- ، جمهورية مصر العربية ،
            وأحمل بطاقة (رقم قومى) -------------------- بأن شركة تصنيع و تعبئة
            كوكاكولا مصر أو أي من أقسامها أو شركاتها التابعة أو شركات التعبئة
            التابعة لها ، أو فروعها (إجمالا،الشركات التابعة)مؤمنين ضد سلوكي و
            تصرفاتي و ما يصدر عني من أفعال و أقوال، إلي أقصي حد يسمح بة القانون
            ، و أقر هذا بتنازلي ، و تعهدي بعدم مقاضاة و إخلاء لمسئولية شركة
            تصنيع و تعبئة كوكاكولا مصر و أتلانتك إندستريز و جميع الشركات التابعة
            ، و موقع الحدث، ، و اي من مديريها، و مسئوليها، و موظفيها، و متطوعيها
            ، و وكلائها ، و ممثليها (إجمالا" المعفون من المسئولية) من أي و ضد
            جميع التزامات، او الدعاوي، او مطالبات، او اي إجراءات قضائية من أي
            نوع ناشئة عن أو متعلقة بأي خسارة أو ضرر أو مرض أو إصابة، بما في ذلك
            الوفاة، التي قد أكون قد تكمدتها ، او أي خسارة أو تلف في اي من
            ممتلكاتي ، سواء بسبب إهمال المعفين من المسئولية أو خلاف ذلك ، او
            فيما يتصل بهذه الجائزة. كما أوافق علي أنه في حالة قيام أحد الأشخاص
            برفع دعوة قضائية بشكل فردي أو نيابة عني، فيما يتعلق بأي إصابات أو
            خسائر تكبدتها نتيجة لتصرفاتي ، فسأقوم بتعويض المعفين من المسئولية
            مقابل تلك الدعاوي، بما في ذلك دفع أتعاب المحاماة. كما أوافق علي أن
            هذا المستند ملزم لي و ، و لورثتي ، ، و الأوصياء علي مدي الحياة.
          </p>
          <p class="mb-3">
            و أوافق بصفة دائمة وغير قابلة للإنهاء بالسماح لشركة كوكاكولا
            العالمية ، الشركات التابعة لها ، وشركات التعبئة ، ومن يخلفوهم أو
            يعينوهم ، وأولئك الذين يعملون بإذنهم (بشكل جماعي ، "نظام كوكاكولا")
            بإستخدام ، وبث ونشر وعرض الصورة/الصور ، والبورتريهات الفوتوغرافية
            والرسومات والعروض المرئية ، أو الصور المتحركة وغيرها من المواد
            المصورة الأخري "المواد المصورة" المرفقة بهذا الإقرار أو يتم وصفها
            لاحقاً ، كليا أو جزئيا ، وأي نسخ منها ، من أجل الإعلان والترويج
            والدعاية والعلاقات العامة والأغراض الإعلامية في جميع وسائل الإعلام
            في جميع أنحاء العالم .
          </p>
          <p class="mb-3">
            و أصرح بإعفاء شركة تصنيع و تعبئة كوكاكولا مصر من أي مسؤولية من أي
            نوع ، بما في ذلك وبدون حصر أي دعاوي خاصة بإجراء تغيير أو تحريف أو
            تأثيرمضلل ، سواء عن قصد أو غير ذلك ، أو إعتداء علي أي من الحقوق
            المعنوية فيما يخص الإستخدام المسموح به للمواد المصورة و أتنازل عن أي
            حق يخصني للتصديق علي أي من المواد المصورة أو الفحص أو الموافقة على
            النسخة النهائية أو أي نسخ منها أو المجال الذي تستخدم فيه .
          </p>
          <p class="mb-3">
            كما أقر أن توقعي علي هذا الأقرار هو إقرار بما جاء فيه إبراء لذمه
            وكالات الحقوق الاخري ايا كانت و الناشئة عن فوزي بالجائزة المشار
            إليها، و ذلك فإني امنح كل من الشركة المذكورة ، و اي شركة تابعة او
            مملوكة لها أو أي موظف أو مدير أو وكيل أو مكتب لها سواء في مصر أو في
            الخارج، إخلاء الطرف هذا بالكامل و نهائي و أقرار بأنه ليس لي اي حقوق
            أخري أيا كانت سواء للقانون المصري أو أي قانون اخر قبل اي من الشركات
            المذكورة او موظفيها او مديريها او وكلائها او إداريها و انه ليسلي
            الحق في المطالبه باي التزام اخر سواء في الماضي او الحاضر.
          </p>
          <p class="mb-3">
            من المفهوم والمتفق عليه انه غير مسموح لي بالتنازل عن الجائزة التي
            استلمتها لأي شخص أو جهة إلا إذا كان أحد الأقارب من الدرجة الأولي او
            لصالح شركة تصنيع و تعبئة كوكاكولا مصر، كذلك من المفهوم والمتفق عليه
            إنني المسئول عن كافة الضرائب المستحقة وفقا" للقانون المصري علي
            الجائزة التي إستلمتها وفقا" لهذا الإقرار.
          </p>
          <!-- <p class="mb-3 text-center">
            و هذا إقرار مني بذلك.
          </p> -->
          <!-- <p class="mb-3">
            الإسم: <br />
            الرقم القومي:<br />
            التوقيع:<br />
            التوقيع أعلاه هو إقرار بالمضمون و العلم و الإستلام:
          </p> -->
        </section>
      </div>
    </div>
  </div>
</section>
