<!-- BODY -->
<section class="sec-padding">
  <div class="container">
    <h2 class="heading-text">{{ "app.notifications" | translate }}</h2>
  </div>
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="notification" *ngFor="let notification of notifications">
          <p class="font-md">
            <strong>{{ "app.macthResults" | translate }}:</strong>
            {{notification.NotificationText}}
          </p>
          <p class="date">{{ notification.MatchDate | date: "dd/MM/yyyy" }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
