<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-7 py-1 ">
        <!-- <h1 class="header-text">DRINK, PREDICT AND WIN ...</h1> -->
      </div>
    </div>
  </div>
</header>
<section class="sec-padding">
  <div class="container">
    <h2 class="heading-text">
      {{ "app.resetPassword" | translate }}
    </h2>
  </div>
  <div class="container py-5">
    <form #f="ngForm" class="needs-validation" novalidate>
        <div *ngIf="commonService.error" class="invalidFeedback mb-3">
            <i class="fas fa-exclamation-circle"></i> {{ commonService.message }}
          </div>
      <div class="form-row">
        <div class="form-group col-8">
          <label for="mNum"> {{ "app.mobileNumber" | translate }}</label>
          <input
            type="tel"
            class="form-control"
            id="mNum"
            maxlength="12"
            placeholder="e.g. 01 xxxxxxxxx"
            name="mobileNumber"
            required
            pattern="^0[1][0-9]{9}$"
            [max]="11"
            ngModel
            #mobileNumber="ngModel"
          />
          <div
            *ngIf="mobileNumber.invalid && mobileNumber.touched"
            class="invalidFeedback"
          >
            {{ "app.providemobileNumber" | translate }}
          </div>
        </div>
      </div>
      <div class="form-group mb-4">
        <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="disableButtons || mobileNumber.invalid"
          (click)="sendOtp(mobileNumber)"
        >
          {{ "app.sendCode" | translate }}
        </button>
      </div>
      <div class="form-row">
        <div class="form-group col-8">
          <label for="vCode">{{ "app.verificationCode" | translate }} </label>
          <input
            type="text"
            class="form-control"
            id="vCode"
            placeholder="xxxxxx"
            name="code"
            required
            [disabled]="!messageSent"
            ngModel
            #code="ngModel"
          />
          <div class="invalidFeedback" *ngIf="code.invalid && code.touched">
            {{ "app.provideVerificationCode" | translate }}
          </div>
        </div>
      </div>
      <div class="form-group mb-4">
        <button
          type="button"
          class="btn btn-primary btn-block"
          [disabled]="f.invalid || disableButtons || !messageSent"
          (click)="verifyOtp(code, mobileNumber)"
        >
          {{ "app.submitCode" | translate }}
        </button>
      </div>
    
    </form>
  </div>
</section>
